@charset "utf-8";
body,div,h1,h2,h3,h4,h5,h6,div,p,ul,li,span,input,textarea,select,a,hr{margin:0; padding:0;font-weight: 100}
ul,li{ list-style:none;}
a{text-decoration: none}
body{ font-family:"微软雅黑"; font-size:14px;}
img{border:none;}
a{color:#333;text-decoration: none}
input {border: 0;outline: none;background-color: rgba(0, 0, 0, 0);
}
/* 清除浮动 */
.clearfix:before,.clearfix:after{content:"";display:table}
.clearfix:after{clear:both;}
.clearfix{zoom:1}

/* 浮动 */
.fl{float:left}
.fr{float:right}
body{width: 100%}

/* top */
.top{height: 35px;background: #eee;line-height: 35px;}
.top .top_l{float: left;}
.top .top_l a{color: rgb(238, 96, 96)}
.top .top_r{float: right;}
.top .top_r ul li{float: left;}
.top_r ul li:nth-child(1){margin-right: 10px;}
.top_r ul li a{padding: 0 5px;border-right: 1px solid #ccc;}
.top_r ul li a:hover{color: red}
.top_r ul li:nth-child(1) a{border: none;color: red}
.top_r ul li:nth-child(4) a{border: none}
.top_r ul li.reg_log>a{padding: 0px}
.glyphicon-user{display: inline-block;border-radius: 50%}
.top_r ul li.dropdown>ul.dropdown-menu{padding: 10px;min-width: 80px}
ul.dropdown-menu li {width: 100%;}
li.dropdown>ul.dropdown-menu li a{border: none;color: #333;}
/* nav */
div.well.nav{background:rgb(253, 253, 253);margin: 0;padding: 0}
.nav #hotline{width: 60px;height: 60px;margin-right: 10px}
.nav h4{margin-top: 10px}
.nav .logo{height:78px; padding:12px 0 0 10px;}
.nav .menu{height:70px;font-size:15px;margin-top: 40px;background-color:#78b335;border-radius: 8px 8px 0 0;padding: 0}
.nav .menu li{ width:14.28%; height:70px; float:left;}
.nav .menu li a{ display:inline-block; line-height:70px; width:100%; text-align:center; color:#fff;}
.nav .menu li a:hover{color:#333;font-size: 17px;background: #b3e07e;border-radius: 8px 8px 0 0;}
.nav .menu li a.seclted{color:#333;font-size: 17px;background: #b3e07e;border-radius: 8px 8px 0 0;}

/* footer */
#wrapfooter{background: rgb(250, 247, 247);padding: 30px 0;border-top: 2px solid #78b335}
#wrapfooter .footer p{line-height: 30px;text-align: left}
.row .foot-nav h3{line-height: 30px;margin-bottom: 10px;font-size: 18px}
#wrapfooter .bottom{padding: 20px;}
#wrapfooter .bottom p{text-align: center;line-height: 30px;font-size: 12px}

/* 金融页面 */
.jr-con{height: 391px;margin-top: 30px}
.jr-con .jr-l{float: left;}
.jr-con .jr-m{float: left;}
.jr-con .jr-m img{margin-left: 80px}
.jr-con .jr-r{float: right;height: 100%}
.jr-con .jr-r a{text-align: center;display: block;background: #78b335;width: 260px;height: 60px;line-height: 60px;color: #fff;font-size: 30px;border-radius: 10px;margin: auto;margin-top: 150px}
.jr-con .jr-r a:hover{background: #b3e07e;color: #333}

/* 农资 */
.goodList{display: flex;justify-content: left;align-items: center;flex-wrap: wrap}
.goodList li{width: 260px;height: 380px;padding: 10px;border: 1px solid #ccc;margin: 10px}
.goodList li:hover{border:none;box-shadow: 5px 5px 3px #ccc}
.goodList li div{width: 238px;height: 209px;overflow: hidden;}
.goodList li div img{height: 100%;width: 100%}
.goodList li p{height: 30px;line-height: 30px;}
.goodList li p:nth-of-type(1){margin-top: 10px}
.goodList li p:nth-of-type(4){background: #78b335;height: 40px;color: #fff;text-align: center;line-height: 40px;cursor: pointer;}
/* 关于我们 */
#banner{width: 1344px;height: 524px;overflow: hidden;position: relative;}
#scrollList{position: absolute;height: 524px;}
#scrollList li{float: left;width: 100%;height: 100%;overflow: hidden;}
#scrollList li img{width: 100%;height: 100%;display: block;border: none;}
#btns div{width: 50px;height: 50px;background: #000;opacity: .3;position: absolute;top: 50%;font-size: 50px;color: #fff;text-align: center;line-height: 50px;cursor: pointer;}
#btns div:first-child{left: 50px;}
#btns div:last-child{right: 50px;}
#nums{position: absolute;bottom: 20px;right: 20px;}
#nums li{float: left;width: 20px;height: 20px;background: #fff;color: red;text-align: center;line-height: 20px;margin: 0 10px;cursor: pointer;border-radius: 10px}
#nums li.hover,#nums li:hover{background: red;color: #fff;}
.ab_con .ppjs,.ab_con .gsry,.ab_con .xxpx,.ab_con .jhkj{padding: 10px 0;margin-top: 30px}
.ab_con h2 span{border-bottom: 3px solid #78b335;font-size: 24px;line-height: 50px;padding: 10px 0}
.ab_con .ab_left p{line-height: 30px;font-size: 14px;margin-top: 10px}
.gsrywrap{background: #eee}
.ab_con .gsry ul{display: flex;justify-content: space-between;flex-wrap: wrap;margin-top: 20px}
.ab_con .gsry ul li{height: 240px}
.ab_con .gsry ul li div{overflow: hidden;width: 300px;height: 200px}
.ab_con .gsry ul li img{width: 100%;height: 100%;}
.ab_con .gsry ul li p{height: 40px;line-height: 40px;text-align: center;}
.item .content{overflow:hidden;height: 500px}
.item .content.auto{height:auto;}
.expand{display: block;width: 130px;height: 40px;line-height: 40px;;text-align: center;margin:20px auto;border: 1px solid #78b335;border-radius: 10px;color: #78b335}
.expand span{padding: 0 8px}
.ab_con .jhkj_con{margin-top: 30px}

.ab_con .jhkj .wenzi p{line-height: 26px;text-indent: 30px;padding: 0 20px;}
/* 个人中心页面 */
#wraptop{height: 54px;background: #78b335;border-bottom: 1px solid #ccc}
.top_user{height: 54px;}
.top_user ul li{float: left;line-height: 54px;margin: 0 8px;color: #fff}
.glyphicon-home{padding: 0 8px}
.top_user ul li>a{color: #fff}
.top_user ul.top_l{float: left;}
.top_user ul.top_l li:nth-child(1) span{border-right: 1px solid;padding-right: 10px}
.top_user ul.top_r{float: right;}
.top_user ul.top_r li>ul.dropdown-menu{min-width: 80px}

.user_info{padding: 30px}
.info_left{margin-left: 50px;border-right: 1px solid #ccc;}
.info_left p{font-size: 18px;line-height: 50px;}
.info_left p span{color: #78b335}
.info_middle{margin: 0 30px;padding: 0;}
.info_middle h4{text-indent: 10px;line-height: 50px;font-size: 20px;}
.info_middle h4 span{padding-right: 12px;border-right: 2px solid #78b335}
.info_middle p{height: 35px;line-height: 35px;border-top: 1px solid #ccc;}
.info_middle p span.glyphicon{padding: 0 10px}
.info_middle p:last-child{border-bottom: 1px solid #ccc}
.info_middle p:last-child a{float: right;}
.user_info .glyphicon{color: #78b335;font-size: 16px}
.info_right{margin-left: 20px}
.info_right p{text-indent: 28px;line-height: 26px;font-size: 14px}
.info_right a{color: #78b335;}

.wrapUser_info{background: #eee}
.user_con h2,.control_m h2{margin-left: 50px;margin-top: 30px;font-size: 26px}
.user_con h2 span,.control_m h2 span{border-right: 3px solid #78b335;padding-right: 16px}
.data h3{height: 60px;line-height: 60px;font-size: 20px}
.data h3 span{float: left;}
.data{display: flex;justify-content: space-around;align-items: center;flex-wrap: wrap;padding-bottom: 50px}
.data>div{background: #fff;width: 40%;margin-top: 30px;padding: 20px;border-radius: 20px}
.data h3 .on-off{float: right;margin-top: 20px;margin-right: 20px}
.data ul p{height: 60px;line-height: 60px;font-size: 16px}
.data ul p span{float: right;margin-right: 50px;}
/* 监控 */
.control{display: flex;justify-content: left;align-items: center;flex-wrap: wrap;padding: 0 45px;margin-top: 20px;padding-bottom: 40px}
.control li{width: 230px;height: 260px;padding: 10px;border: 1px solid #ccc;margin: 10px}
.control li div{width: 210px;height: 209px;display: flex;justify-content: center;align-items: center;overflow: hidden;}
.control li div img{height: 100%;width: 100%}
.control li p{line-height: 30px;text-align: center}

/* 新闻资讯 */
/* 新闻资讯 */
.new_banner{border-bottom: 1px solid #ccc}
.info{margin-top: 20px}
.con_left h4{line-height: 50px;margin: 10px}
.con_left h4 span{border-left: 3px solid #78b335;padding: 0 10px;font-weight: bold;font-size: 20px;}
.con_left ul li{line-height: 60px;}
.con_left ul li.active a{background: #78b335}
.con_left ul li a{font-size: 16px;}
.con_right{border-left: 1px solid #eee;}
.con_right ul{margin-top: 20px}
.con_right ul li{line-height: 40px;height: 40px;border-bottom: 1px dashed #ccc}
.con_right ul li a{float: left;font-size: 16px;}
.con_right ul li a:hover{color: #78b335}
.con_right ul li span{float: right;}
.con_right h5{font-size: 20px;margin-top: 20px}
.affix{top: 15px;width: 260px;}
#returnTop{width: 50px;height: 50px;position: fixed;right: 50px;bottom: 80px;display: flex;flex-direction: column;text-align: center;border: 1px solid #ccc;cursor: pointer;display: none}
.glyphicon-chevron-up{font-size: 18px}